/* Style pour la liste des produits */
.product-list {
  display: flex;
  justify-content: space-between;
}

/* Style pour chaque produit */
.product {
  width: calc(33.33% - 10px); /* Largeur de chaque produit avec un espace entre */
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

/* Style pour les images des produits */
.product img {
  width: 100%;
  max-width: 100px; /* Réduction de la taille de l'image */
  height: auto;
}



.product h3 {
  margin: 3px 0;
  font-size: 12px;
}

.product p {
  margin: 0;
  font-size: 10px;
  color: #555;
}

.product .price {
  font-weight: bold;
  color: #333;
}

/* Styles pour le bouton d'ajout au panier */
.product button {
  display: block;
  width: 100%;
  padding: 4px 8px;
  margin-top: 4px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 10px;
}

.product button:hover {
  background-color: #0056b3;
}

/* Styles pour les boutons de filtrage */
.filters {
  margin-bottom: 20px;
}

.filters button {
  padding: 8px 16px;
  margin-right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.filters button:hover {
  background-color: #0056b3;
}

.filters button.active {
  background-color: #0056b3;
}

h2, .product h3 {
  text-align: center;
}
